<!DOCTYPE html>
<html lang="" ng-app="directiveModule" ng-controller="DirectiveController">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../vendor/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="../../../vendor/js/angular.js"></script>
    <script src="../app.js"></script>
    <script src="../services/directive-basics.service.js"></script>
    <script src="../directives/isolated-scope.directive.js"></script>
    <script src="../controllers/directives.controller.js"></script>

</head>

<body>

    <div class="container">

        <div class="jumbotron">
            <h2>Learning : Angular Directives - Isolated Scope.</h2>
            <ul class="list-unstyled">
                <li>
                    <ul>
                        <li>Directive have ISOLATED/DETACHED scope than parent scope.</li>
                        <li>Prefixes for isolated scope i.e. @,= and &.</li>
                    </ul>
                </li>
            </ul>
        </div>


        <div>
            <label>Name (parent scope) :</label> <strong>{{name}}</strong>
            <button type="button" type="submit" class="btn btn-primary btn-xs" ng-click="reverseName()">Reverse Name</button>
        </div>

        <div>
            <label>Color(parent scope):</label> <strong style="color:{{color}}">{{color|uppercase}}</strong>
            <button type="button" type="submit" class="btn btn-primary btn-xs" ng-click="randomColor()">Reverse Color</button>
        </div>

        <isolated-scope name="{{name}}" color="color" reverse="reverseName()"></isolated-scope>


    </div>
</body>


</html>