<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="../vendor/js/angular.js"></script>
    <script src="common/controller/declarative-imperative-appraoch.js"></script>
</head>

<body ng-app="declarativeImperativeModule" ng-controller="DeclarativeImperativeController" class="container">
    <div class="jumbotron">
        <h2>Learning : Declarative templates, Imperative Logic.</h2>
        <ul class="list-unstyled">
            <li>
                <ul>
                    <li>Declarative templates, Imperative Logic</li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <div>
            <textarea class='form-control' ng-model="message">{{message}}</textarea>
        </div>
        <div>
            </br>
            <button type="submit" class="btn btn-primary btn-md" ng-disabled="!hasValidLength()" ng-click="clear()">Clear</button>

        </div>
    </div>
    <span>Remaining: {{remaining()}}</span>
</body>

</html>