<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h2>Learning : Services VS Factories.</h2>
    <script src="../../../vendor/js/angular.js"></script>

    <script src="../app.js"></script>
    <script src="../services/factory.service.js"></script>
    <script src="../services/service.service.js"></script>
    <script src="../controller/services-vs-factories.controller.js"></script>
    
</head>

<body ng-app="serviceAndFactoryModule" ng-controller="ServiceAndFactoryController as cntrl">
    
    <div >
         </br><div>
            </br></br>  From Service Call  --- <strong>{{cntrl.getDetailsFromService()}}</strong>  
            </br></br>  From Factory Call  --- <strong>{{cntrl.getDetailsFromFactory()}}</strong>
        </div>
         
    </div>
    </body>
</html>
