<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../../vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../vendor/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="../../vendor/js/angular.js"></script>

    <script src="../common/app.js"></script>


    <script src="../common/service/calc.service.js" id="Native_Party_Service"></script>

    <script src="../common/data/calc.service.js" id="Third_Party_Service"></script>





    <script src="../common/controller/calc-with-service.controller.js"></script>

</head>

<body ng-app="calcDependencyModule" ng-controller="CalcDependencyController" class="container">
    <div class="jumbotron">
        <h2>Learning : Service injection in controller.</h2>
        <ul class="list-unstyled">
            <li>
                <ul>
                    <li>Service injection in controller</li>
                </ul>
            </li>
        </ul>
    </div>

    <div>
        <div>
            Number1:
            <input type="number" ng-model="number1" class='form-control'>
        </div>
        </br>
        <div>
            Number2:
            <input type="number" ng-model="number2" class='form-control'>
        </div>
        </br>
        <div>
            <button type="submit" class="btn btn-primary btn-sm" ng-click="add(number1,number2)">Add</button>
            <button type="submit" class="btn btn-primary btn-sm" ng-click="substract(number1,number2)">Substract</button>
            <button type="submit" class="btn btn-primary btn-sm" ng-click="divide(number1,number2)">Divide</button>
            <button type="submit" class="btn btn-primary btn-sm" ng-click="multiply(number1,number2)">Multiply</button>
        </div>
        </br>
        <div>
            Result : {{number3}}
        </div>
    </div>
</body>

</html>