<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="../../vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../vendor/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="../../vendor/js/angular.js"></script>
</head>

<body ng-app ng-init="topic='Started with ng-app,ng-init and ng-if'" class="container">
    <div class="jumbotron">
        <h2>Learning : Basic setup</h2>
        <ul class="list-unstyled">
            <li>
                <ul>
                    <li>AngularJs lib</li>
                    <li>Angular bootsrap (ng-app)</li>
                    <li>built in directives ng-init ng-if</li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Angular bootstrap and ng-init -->
    <span ng-if="topic"><label>{{topic}}</label></span>
    <span ng-if="!topic"><label>Empty Topic.</label></span>
</body>



</html>