<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <link href="../../vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../vendor/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="../../vendor/js/angular.js"></script>
    <script src="../common/controller/first-controller.controller.js"></script>
</head>


<body ng-app="firstCntrl" ng-controller="FirstCtrl" class="container">
    <div class="jumbotron">
        <h2>Learning : Two way data binding.</h2>
        <ul class="list-unstyled">
            <li>
                <ul>
                    <li>view-scope-model</li>
                    <li>model-scope-view</li>
                </ul>
            </li>
        </ul>
    </div>

    Change View:
    <input type="text" ng-model="topic" class='form-control' />


    </br>
    <button type="submit" ng-click="reverseName()" class="btn btn-primary btn-md">Change Model (through Controller)</button> : {{topic}}



</body>

</html>